<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'HomePage' %}">Hackathon Management System</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'HomePage' %}">Home</a></li>
            <li><a href="{% url 'showpart' %}">Participant Database</a></li>
            <li class="active"><a href="{% url 'showhack' %}">Hackathon Database</a></li>
          </ul>
        </div>
    </nav>
    <center>
        <h2>Hackathon Record</h2>
        <form method="POST" action="/Sort2">
            {% csrf_token %}
            <label for="Sort"></label>
                <select name="Sort">
                    <option value="hack_id">Hackathon ID</option>
                    <option value="hack_name">Hackathon Name</option>
                    <option value="name_type">Type</option>
                    <option value="date">date</option>
                    <option value="time">time</option>
                    <option value="duration">duration</option>
                </select>
                <!-- <input type="submit" value="Sort"/> -->
                <button type="submit" class="btn btn-info" value="Sort" style="margin-bottom: 3px;">Sort</button>
        </form>
        <div class="table-wrapper-scroll-y my-custom-scrollbar container">
            <table border="1" class="table table-bordered table-striped mb-0 table-hover">
                <tr>
                    <th>Hackathon ID</th>
                    <th>Hackathon Name</th>
                    <th>Type</th>
                    <th>date</th>
                    <th>time</th>
                    <th>duration</th>
                </tr>
                {% for result in data %}
                <tr>
                    <td>{{result.hack_id}}</td>
                    <td>{{result.hack_name}}</td>
                    <td>{{result.name_type}}</td>
                    <td>{{result.date}}</td>
                    <td>{{result.time}}</td>
                    <td>{{result.duration}}</td>
                    <td><a style="text-decoration: none" href="Edit2/{{result.hack_id}}">Edit</a></td>
                    <td><a style="text-decoration: none" href="Delete2/{{result.hack_id}}" onclick="return confirm('Are you sure you want to delete the record ?')">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <a href="{% url 'showhack' %}" class="btn btn-info" role="button">back</a>
    </center>
</body>
</html>